/* telas menores de 930px */
@media screen and (max-width: 1080px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-name {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    #nav-menu {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px 0;
    }

    .nav-ul {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center;
    }

    .nav-ul > li {
        display: inline-block;
        padding: 5px 10px; 
        text-align: center;
    }

    .nav-ul > .contact > a {
        padding: 8px 16px; 
    }

    .nav-ul > li:last-child {
        margin-right: 0;
    }
}

/* telas menores de 650px */

@media (max-width: 650px) {

    .nav-ul {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .nav-name{
        padding: 10px;
        margin: 0;
    }

    .contact .nav-link {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact .nav-link i {
        margin-right: 3px;
        font-size: 16px;
    }

    .home{
        display: flex;
        flex-direction: column;
        width: 100%;    
    }

    .home-body{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        padding: 20px;
    }

    .home-perfil {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .cv, .btn {
        width: 200px;
        font-size: var(--fs-sm);
        padding: 5px 20px;
        margin: 0 auto;
        margin-top: 1rem;
        text-align: center;
    }

    .cv{
        margin-bottom: 20px;
    }

    img{
        width: 150px;
        margin: 0;
    }

    .btn{
        display: flex;
        flex-direction: column;        
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-list {
        justify-content: center;
    }

    .social-link{
        margin: 0;
    }

}
